@font-face {
  font-family: "MyWebFont";
  src: url("Cocaine\ sans.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.mainapp {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(360deg, #eea849 30%, #f46b45 99%);
  position: relative;
  overflow: hidden;
}

.mainapp__left {
  position: absolute;
}

.mainapp__left > p {
  font-size: 15em;
  font-family: MyWebFont;
  padding: 140px 390px;
  position: absolute;
  z-index: 0;
}

.mainapp__left > span {
  font-size: 1em;
  font-family: MyWebFont;
  padding: 70px 300px;
  position: absolute;
}

.mainapp__left__story {
  font-size: 1em;
  position: absolute;
  font-family: MyWebFont;
  padding: 29em 20em 10em;
  z-index: 1;
  overflow: hidden;
}

.mainapp__right {
  margin-left: 25em;
  position: absolute;
}

.mainapp__left__verticalLine {
  border-left: 6px solid black;
  height: 29em;
  top: 50%;
  position: absolute;
  left: 6%;
  margin-left: -3px;
  top: 10%;
}

.mainapp__left__verticalLine1 {
  border-left: 6px solid black;
  height: 25em;
  position: absolute;
  left: 7%;
  margin-left: -3px;
  top: 15%;
}

.mainapp__left__verticalLine2 {
  border-left: 6px solid black;
  height: 20em;
  position: absolute;
  left: 8%;
  margin-left: -3px;
  top: 21%;
}

.mainapp__left__verticalLine3 {
  border-left: 6px solid black;
  height: 16em;
  position: absolute;
  left: 9%;
  margin-left: -3px;
  top: 26%;
}

.flairapp {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(190deg, #eea849 50%, #f46b45 99%);
  position: relative;
  overflow: hidden;
}

.flairapp__left {
  position: absolute;
  top: 40%;
}

.flairapp__right {
  position: absolute;
}

.flairapp__right > p {
  margin: 0;
  font-size: 15em;
  position: absolute;
  font-family: MyWebFont;
  left: 8%;
  overflow: hidden;
}

.flairapp__right__story {
  font-size: 1em;
  position: absolute;
  font-family: MyWebFont;
  z-index: 0;
  overflow: hidden;
}

.scoopapp {
  background-image: linear-gradient(345deg, #eea849 30%, #f46b45 99%);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.scoopapp__left {
  position: absolute;
  display: flex;
  z-index: 1;
}
.scoopapp__left__p > p {
  font-size: 15em;
  font-family: MyWebFont;
  position: absolute;
  left: 28%;
  top: 50%;
  overflow: hidden;
}

.scoopapp__left__para {
  font-size: 1em;
  font-family: MyWebFont;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.scoopapp__right {
  position: absolute;
  right: 30%;
  z-index: 0;
}

.scoopapp__right__vL {
  border-right: 6px solid black;
  height: 30em;
  position: absolute;
  right: 5%;
  margin-right: -3px;
  top: 15%;
  left: 25%;
}

.scoopapp__right__vL1 {
  border-right: 6px solid black;
  height: 26em;
  position: absolute;
  right: 6%;
  margin-right: -3px;
  top: 20%;
  left: 24%;
}

.scoopapp__right__vL2 {
  border-right: 6px solid black;
  height: 22em;
  position: absolute;
  right: 7%;
  margin-right: -3px;
  top: 25%;
  left: 23%;
}

.scoopapp__right__vL3 {
  border-right: 6px solid black;
  height: 19em;
  position: absolute;
  right: 8%;
  margin-right: -3px;
  top: 30%;
  left: 22%;
}

.mainapp3 {
  display: flex;
  background-image: linear-gradient(180deg, #eea849 30%, #f46b45 99%);
  position: relative;
  flex-direction: row;
  overflow: hidden;
}

.mainapp3__left {
  position: absolute;
}

.mainapp3__right > p {
  font-size: 9em;
  font-family: MyWebFont;
  left: 15%;
  padding: 400px 0px;
  position: absolute;
  overflow: hidden;
}

.mainapp3__right > span {
  font-size: 4em;
  font-family: MyWebFont;
  left: 15%;
  padding: 550px 0px 0px 500px;
  position: absolute;
  overflow: hidden;
}
