@font-face {
  font-family: "MyWebFont";
  src: url("Cocaine\ sans.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.mainapp {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(360deg, #eea849 30%, #f46b45 99%);
  /* background-image: url("img.jpg"); */
  /* border: 2px solid red; */
  position: relative;
  overflow: hidden;
  /* border: 5px solid red; */
}

.mainapp__left {
  position: absolute;
  /* border: 5px solid red; */
}

.mainapp__left > p {
  font-size: 15em;
  font-family: MyWebFont;
  /* border: 2px solid red; */
  /* font-weight: 9; */
  padding: 140px 390px;
  position: absolute;
  z-index: 0;
  /* overflow: hidden; */
  /* border: 2px solid red; */

  /* color: red; */
}

.mainapp__left > span {
  font-size: 1em;
  font-family: MyWebFont;
  /* border: 2px solid red; */
  /* font-weight: 9; */
  padding: 70px 300px;
  position: absolute;

  /* color: red; */
}

.mainapp__left__story {
  font-size: 1em;
  position: absolute;
  font-family: MyWebFont;
  /* border: 2px solid red; */
  padding: 29em 20em 10em;
  z-index: 1;
  overflow: hidden;
  /* border: 2px solid red; */
}

.mainapp__right {
  /* margin-top: 0.3em; */
  margin-left: 25em;
  position: absolute;
  /* border: 5px solid red; */
}

.scoopapp__right__verticalLine {
  border-left: 6px solid black;
  height: 35em;
  position: absolute;
  left: 5%;
  margin-left: -3px;
  top: 0;
}

.mainapp__left__verticalLine1 {
  border-left: 6px solid black;
  height: 29em;
  top: 50%;
  position: absolute;
  left: 6%;
  margin-left: -3px;
  top: 10%;
}

.mainapp__left__verticalLine2 {
  border-left: 6px solid black;
  height: 25em;
  position: absolute;
  left: 7%;
  margin-left: -3px;
  top: 15%;
}

.mainapp__left__verticalLine3 {
  border-left: 6px solid black;
  height: 20em;
  position: absolute;
  left: 8%;
  margin-left: -3px;
  top: 21%;
}

.flairapp {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(190deg, #eea849 50%, #f46b45 99%);
  position: relative;
  /* border: 2px solid red; */
  overflow: hidden;
}

.flairapp__left {
  /* margin-top: 10em; */
  position: absolute;
  /* border: 10px solid red; */
  top: 40%;
  /* widows: 50%; */
}

.flairapp__right {
  position: absolute;
  /* border: 2px solid red; */
}

.flairapp__right > p {
  margin: 0;
  font-size: 15em;
  position: absolute;
  font-family: MyWebFont;
  /* top: 40%; */
  /* bottom: 30%; */
  /* z-index: 1; */
  left: 8%;
  /* top: -20%; */
  /* border: 2px solid red; */
  /* padding-top: 100px; */
  overflow: hidden;
  /* z-index: 0; */
  /* border: 2px solid red; */
}

.flairapp__right__story {
  font-size: 1em;
  position: absolute;
  font-family: MyWebFont;
  /* border: 2px solid red; */
  /* padding: 29em 20em 10em; */
  z-index: 0;
  overflow: hidden;
  /* border: 2px solid red; */
}

.scoopapp {
  background-image: linear-gradient(345deg, #eea849 30%, #f46b45 99%);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  /* border: 2px solid red; */
}

.scoopapp__left > p {
  font-size: 14em;
  font-family: MyWebFont;
  /* border: 2px solid red; */
  /* font-weight: 9; */
  padding: 210px 380px;
  position: absolute;
  z-index: 1;
  /* border: 2px solid red; */
  overflow: hidden;
}

.scoopapp__left__story > p {
  font-size: 1em;
  position: absolute;
  font-family: MyWebFont;
  /* border: 2px solid red; */
  /* padding: 29em 20em 10em; */
  z-index: 0;
  overflow: hidden;
  /* border: 2px solid red; */
}

.scoopapp__right {
  /* margin-top: 10em; */
  /* border: 2px solid red; */
}

.mainapp3 {
  display: flex;
  background-image: linear-gradient(180deg, #eea849 30%, #f46b45 99%);
  position: relative;
  flex-direction: row;
  /* border: 2px solid red; */
  overflow: hidden;
}

.mainapp3__left {
  /* margin-top: 17em; */
  /* border: 2px solid red; */
}

.mainapp3__right > P {
  /* border: 2px solid red; */
  font-size: 12em;
  font-family: MyWebFont;
  /* border: 2px solid red; */
  /* font-weight: 9; */
  padding: 400px 0px;
  position: absolute;
  overflow: hidden;
}
